section {
  margin: 0 0 1em;
}

section.goods {
  background-color: #f4f5f6;
}

.section {
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-weight: bold;
      color: @blue;
      padding-bottom: 1em;
      padding-right: 3em;
      border-bottom: 1px solid #95ceea;
    }
  }
  &__subheader {
    color: @blue;
    cursor: pointer;
    border-bottom: 1px solid @blue;
    transition: border-bottom-color 300ms ease-in-out;
    &:hover {
      color: #000;
      border-bottom-color: transparent;
    }
  }
}
